body {
    margin: 0;
}

#mac {
    border: none;
    padding: 1.25em;
    font-family: monospace;
}

.fmtGroup > * {
    font-family: monospace;
    text-transform: lowercase;
}

.hide {
    display: none;
}

.inputArea {
    background-color: #F56161;
    height: 10vh;
}

.footer {
    background-color: #61E1F5;
    height: 50vh;
}
